# Sales Analysis for JillyAtlanta

***
***

In [1]:
import pandas as pd
import glob

***
## Etsy

### Get data

In [2]:
fiels = glob.glob('./etsy/EtsySales/*.csv')
df = pd.DataFrame()
for fiel in fiels:
    dfi = pd.read_csv(fiel)
    df = pd.concat([df, dfi])
#df.columns

Get columns of interest and sort on date

In [3]:
df = df[['Order Date', 
         'Order ID',
         'Net Amount',
         'Refund Amount']]
df.columns = ['order_date', 'order_id', 'net_amount', 'refund_amount']
df['order_date'] = pd.to_datetime(df['order_date'])
df.sort_values(by='order_date', inplace=True)
df.head()

  order_date   order_id  net_amount  refund_amount
0 2014-06-16  144656004       56.01            0.0
1 2014-08-30  155967399       96.75            8.0
2 2014-08-31  156150920       44.37            6.0
3 2014-09-02  156470823       90.93            0.0
4 2014-09-26  160466268       44.37            6.0

To determine which orders are PDFs, we have to go to another report, _Order Items_

In [4]:
fiels = glob.glob('./etsy/EtsySoldOrderItems/*.csv')
dfx = pd.DataFrame()
for fiel in fiels:
    dfi = pd.read_csv(fiel)
    dfx = pd.concat([dfx, dfi])
#df.columns

In [5]:
dfx = dfx[['Item Name', 
         'Order ID']]
dfx.columns = ['item_title', 'order_id',]
dfx.head()

                                          item_title   order_id
0  Girl Holiday Skirt,sequined girl skirt,new yea...  180720853
1  Baby bonnet, lace bonnet, toddler bonnet, bapt...  178061395
2  Girl Sequin Skirt, holiday clothing, tulle hol...  177033295
3  Baby bonnet, lace bonnet, toddler bonnet, bapt...  175486889
4  Girl Skirt Pattern, PDF sewing pattern,easy pa...  174935168

In [6]:
df_pdfs = pd.read_csv('listings_names.csv')
df_pdfs = pd.DataFrame(df_pdfs.drop(df_pdfs.index[df_pdfs['PDF'] == 0])['item_title'])
df_pdfs.head()

                                           item_title
11   'Girl Skirt Pattern, PDF sewing pattern,easy ...
18   'Girl Cape PDF, cape pattern, winter coat PDF...
26   'Beaded Collar PDF, collar pattern, cape coll...
27   'Baby Bonnet PDF, baby hat pattern, bonnet se...
28   'Girl Blouse PDF, download girl shirt, spring...

In [7]:
df_pdfs.join(dfx).head()

ValueError: columns overlap but no suffix specified: Index(['item_title'], dtype='object')