# Sales Analysis for JillyAtlanta

***
***

In [1]:
import pandas as pd
import glob

***
## Etsy

### Get data

In [2]:
fiels = glob.glob('./etsy/EtsySales/*.csv')
df = pd.DataFrame()
for fiel in fiels:
    dfi = pd.read_csv(fiel)
    df = pd.concat([df, dfi])
#df.columns

Get columns of interest and sort on date

In [3]:
df = df[['Order Date', 
         'Payment ID', 
         'Order ID',
         'Net Amount',
         'Refund Amount']]
df.columns = ['order_date', 'payment_id', 'order_id', 'net_amount', 'refund_amount']
df['order_date'] = pd.to_datetime(df['order_date'])
df.sort_values(by='order_date', inplace=True)
df.head()

  order_date  payment_id   order_id  net_amount  refund_amount
0 2014-06-16  1295448890  144656004       56.01            0.0
1 2014-08-30  1466282130  155967399       96.75            8.0
2 2014-08-31  1470057511  156150920       44.37            6.0
3 2014-09-02  1474639907  156470823       90.93            0.0
4 2014-09-26  1537809068  160466268       44.37            6.0

To determine which orders are PDFs, we have to go to another report, _Order Items_

In [4]:
fiels = glob.glob('./etsy/EtsySoldOrderItems/*.csv')
dfx = pd.DataFrame()
for fiel in fiels:
    dfi = pd.read_csv(fiel)
    dfx = pd.concat([dfx, dfi])
#df.columns

In [5]:
dfx = dfx[['Sale Date', 
         'Item Name', 
         'Order ID',
         'Item Total']]
dfx.columns = ['order_date', 'item_id', 'order_id', 'net_amount']
dfx['order_date'] = pd.to_datetime(dfx['order_date'])
dfx.sort_values(by='order_date', inplace=True)
dfx.head()

,order_date,item_id,order_id,net_amount
23,2014-06-16,Garden Skirt,144656004,58.0
22,2014-08-30,"Reserved Listing: girl organic shorts, blue or...",155967399,46.0
21,2014-08-30,Custom order--Size 12/14,155967399,54.0
20,2014-08-31,"Reserved Listing: girls shorts, organic chamb...",156150920,46.0
19,2014-09-02,"Reserved Listing: girl top, organic cotton, ye...",156470823,54.0