# Analysis of JillyAtlanta Orders

In [1]:
import pandas as pd
import glob

## Get order data from Etsy

In [2]:
df = pd.DataFrame()
fiels = glob.glob('./etsy/EtsySoldOrderItems/*')
for fiel in fiels:
    dfi = pd.read_csv(fiel, index_col=0)
    df = pd.concat([df, dfi])  
df.index = pd.to_datetime(df.index)
df.sort_index(inplace=True)

## Cull columns

In [17]:
all_columns = list(df)
#print(all_columns)
columns_Iwant = [
    'Item Name', 
    'Quantity', 
    'Price', 
    'Transaction ID', 
    ]
df = df.loc[:,columns_Iwant]

,Item Name,Quantity,Price,Transaction ID
Sale Date,,,,
2014-06-16,Garden Skirt,1,52.0,208295459
2014-08-30,"Reserved Listing: girl organic shorts, blue or...",1,40.0,224019860
2014-08-30,Custom order--Size 12/14,1,52.0,224019861
2014-08-31,"Reserved Listing: girls shorts, organic chamb...",1,40.0,224278866
2014-09-02,"Reserved Listing: girl top, organic cotton, ye...",1,54.0,224733141

## Get order data from Shopify

### These data not available in standard reports.  Custome service is working on getting it to me.

In [3]:
#df = pd.read_csv('./shopify/sales.csv')